@page "/tecnicas-estudio"
@using Pomodoro.Shared.Dtos
@using Pomodoro.WEB.Repositories
@inject IRepository repository
@inject SweetAlertService swal
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]

<h3>Lista de Técnicas de Estudio</h3>

@if (tecnicasEstudio == null)
{
    <div class="spinner" />
}
else
{
    <GenericList MyList="tecnicasEstudio">
        <Body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-book"></i> Técnicas de Estudio
                        <a class="btn btn-sm btn-success float-end" href="/tecnicas-estudio/create">
                            <i class="oi oi-plus"></i> Nueva Técnica de Estudio
                        </a>
                    </span>
                </div>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Beneficios</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (tecnicasEstudio.Any())
                            {
                                @foreach (var tecnica in tecnicasEstudio)
                                {
                                    <tr>
                                        <td>@tecnica.Nombre</td>
                                        <td>@tecnica.Descripcion</td>
                                        <td>@(string.IsNullOrEmpty(tecnica.Beneficios) ? "N/A" : tecnica.Beneficios)</td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" @onclick="@(() => EditTecnicaEstudio(tecnica.Id))">
                                                <i class="oi oi-pencil"></i> Editar
                                            </a>
                                            <button class="btn btn-danger btn-sm" @onclick="@(() => DeleteTecnicaEstudio(tecnica.Id))">
                                                <i class="oi oi-trash"></i> Borrar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center">No hay técnicas de estudio disponibles.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </Body>
    </GenericList>
}

@code {
    public List<TecnicaEstudioDto>? tecnicasEstudio { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<TecnicaEstudioDto>>("/api/tecnicas-estudio");

        if (responseHttp.Error)
        {
            var mensajeError = await responseHttp.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            tecnicasEstudio = responseHttp.Response!;
        }
    }

    private void EditTecnicaEstudio(int id)
    {
        NavigationManager.NavigateTo($"/tecnicas-estudio/edit/{id}");
    }

    private async Task DeleteTecnicaEstudio(int id)
    {
        var respuesta = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de que desea borrar esta técnica de estudio?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrar",
                CancelButtonText = "No, cancelar"
            });

        if (respuesta.IsConfirmed)
        {
            var response = await repository.Delete($"/api/tecnicas-estudio/{id}");

            if (response.Error)
            {
                var mensajeError = await response.GetErrorMessage();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            else
            {
                await swal.FireAsync("Éxito", "Técnica de estudio borrada exitosamente.", SweetAlertIcon.Success);
                await OnInitializedAsync();
            }
        }
    }
}
